---
language: node_js
node_js:
  - "4"
  - "6"
  - "7"
  - "8"

sudo: false

cache:
  yarn: true

env:
  - EMBER_TRY_SCENARIO=ember-1.13
  - EMBER_TRY_SCENARIO=ember-2.4
  - EMBER_TRY_SCENARIO=ember-2.8
  - EMBER_TRY_SCENARIO=ember-2.12
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - npm config set spin false
  - npm install -g npm
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
  - yarn global add phantomjs-prebuilt bower greenkeeper-lockfile@1
  - bower --version
  - phantomjs --version

install:
  - yarn install --no-lockfile --non-interactive

before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload

script:
  # Usually, it's ok to finish the test scenario without reverting
  #  to the addon's original dependency state, skipping "cleanup".
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO test --skip-cleanup
