@import 'tachyons';
@import 'prettify.css';

:root {
  --background: #faf8f5;
}

html, body {
  margin: 0;
  padding: 0;
}

.octocat {
  fill: #333;

  &:hover {
    fill: black;
  }

  & .octocat-arm, & .octocat-body {
    fill: #fff;
  }
}

pre.prettyprint {
  padding: 1rem 1.5rem;
  white-space: pre;
  line-height: 1.5;
  overflow-x: auto;
}

p > code {
  background: #e2e2e2;
  white-space: nowrap;
  padding: 1px 4px;
  border-radius: 2px;
  color: #000;
}

/* Fonts */
.oxygen {
  font-family: "Oxygen";
}

.lato {
  font-family: "Lato";
}
