<header class="w-100 pv5 mt4">
  <div class="flex flex-column items-center mb5 mw7 center ph3">
    <h1 class="f1 mb0 tc navy lato">Configuration Library</h1>
    <h2 class="f4 normal gray tc lato">Examples of how you can configure Postcss with your Ember app.</h2>
  </div>
</header>

<section class="w-100 pv5 bg-washed-green navy bt b--black-10">
  <div class="mw7 center ph3">
    <h3 class="f2 near-black mt2 lato">As a Postprocessor Only</h3>
    <p class="lh-copy">A common use case for this addon is that your project is already setup with Sass, Less or something custom, but you want to take advantage of the transformations Postcss can offer at the end of your application's build process. Using the filter mode will run postcss on all of your styles, including vendor, allowing you to make more general transformations.</p>
    <p class="lh-copy">This example configuration doesn't run Postcss on Bootstrap files, but applies a number of transformations on the styles and then logs a useful overview of some stats.</p>
    <pre class="prettyprint lang-js linenums lh-copy mv4"><code class="lh-copy">// ember-cli-build.js
module.exports = function (defaults) {
  let app = new EmberAddon(defaults, {
    postcssOptions: {
      compile: {
        enabled: false,
      },
      filter: {
        enabled: true,
        exclude: ['vendor/bootstrap/**/*'],
        plugins: [
          { module: require('postcss-fixes') },
          { module: require('postcss-momentum-scrolling') },
          { module: require('autoprefixer') },
          { module: require('cssstats') },
          { module: require('postcss-stats-reporter') }
        ]
      }
    }
  })
}</code></pre>
  </div>
</section>
